<!DOCTYPE html>
<html>
<title> Person info </title>
<body> 
{% include 'accounts/parts/user.html' %}
{% include 'core/parts/menu.html' %}
<a href="{% url 'add_person' id %}"> Redact </a> </td></tr>
<table>
    {{ person_form.as_table }}
</table> 
<form  method='post'> {% csrf_token %}
	<p> <strong> New comment </strong> </p>
	 <p> <textarea name='comment' rows='5' cols='60'> Type... </textarea> </p>
	 <p><input type='submit' value='submit' /></p>
</form>
	<ul> {% for comm in comments %} 
	<dl> <strong> Date: {{ comm.comm_date }} </strong>  </dl>
	<dd> {{ comm.comment }} </dd>
	{% empty %} <li> No comments yet </li>
{% endfor %} </ul>
</body>
</html>